version: 2
updates:
  - package-ecosystem: "nuget" 
    directory: "/" 
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "Microsoft.EntityFrameworkCore.Sqlite"
        versions:
          - "10.*"

  - package-ecosystem: "github-actions" # update GitHub Actions workflows
    directory: "/" 
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"