name: Push and Pull Requests

on: 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6

    - name: Dotnet CI
      uses: ./.github/actions/dotnet-ci
      with:
        dotnet-version: 10.0.x

  automerge:
    needs: build
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}